<% layout("/layouts/boilerplate.ejs") %>
<body>
    <!-- <form method="GET" action="/portfolio">
        <button>Add</button>
    </form> -->
    <h1 class="mainheading">Welcome to my Portfolio</h1>
</body>
</html>