<%layout("/layouts/boilerplate.ejs")%>
<div class="cnt">
    <div class="box">
            <div class="container">
                <h1>Om Shankar Deshmukh</h1>
                <h5>WEB | APP DEVELOPER</h5>
                
            </div>
            <div class="bottom-container">
                <h3 class="moving-txt">WELCOME TO </h3>
                <h2>MY</h2>
                <h2 class="moving-txt">PORTFOLIO</h2>
            </div>
    </div>
</div>